@import '../../styles/theme.scss';

.container{
    border-radius: $radius-medium;
    border: 1px solid $light-blue;
    padding: 21px;
    box-sizing: border-box;
    cursor: pointer;
    &.selected {
        background: $blue;
        svg {
            path {
                fill: $white;
            }

        }
    }
    svg {
        width: 22px;
        height: 22px;
    }

}

