// COLORS
$blue: #000259;
$white: #FFFFFF;
$light-blue: #999ABD;
$gray: #C4C4C4;
$red: #A60067;
$green: #00C49A;

// TEXT
$font-large: 36px;
$font-medium: 18px;
$font-small: 16px;

// BORDER-RADIUS
$radius-large: 30px;
$radius_medium: 10px;